<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546296467945-cr5tenr74qj6th3h4ll4glpolme7m1da.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546296467945-cr5tenr74qj6th3h4ll4glpolme7m1da</string>
	<key>API_KEY</key>
	<string>AIzaSyDkEwPnjtqDY-DYnDoQAcJCZSxSP9d6b9c</string>
	<key>GCM_SENDER_ID</key>
	<string>546296467945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.unibuc.SavoryNotes</string>
	<key>PROJECT_ID</key>
	<string>savorynotes</string>
	<key>STORAGE_BUCKET</key>
	<string>savorynotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546296467945:ios:633a6a2b345c2aa1d7bb78</string>
</dict>
</plist>